<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>
<style>
    body{ 
        font-size: 15pt;
        font-family: 'Lucida Console';
        padding: 15px;
    }
    input[type=text], select, textarea {
        font-family: 'Courier New', monospace;
        width: 50%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
</style>
<body>
<h2>Here is your recommended song! Rate it below.</h2>
<div class="col-sm-8 text-left">
    <form method="POST" action="/rate">
        <table class="table">
            <th>Recommended for:
                <select id="username" name = "username" required>
                    <option value={{username}} selected>  {{username}}  </option>
                </select>
            </th>
            <tr>
                <td>
                    {{data[1]}}: {{data[2]}}
                </td>
                <td>
                    <input type="text" id="rating" name="rating" placeholder="Rate the song from 1-5" required>
                </td>
                <td>
                    <select id="songid" name="songid" required>
                        <option value={{data[0]}} selected>{{data[0]}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
<h2>Check out these albums from your favorite artists</h2>
    <div class="col-sm-8 text-left">
        <table class="table">
        {% for a in albums %}
        <tr>
            <td>{{a[0]}}</td>
            <td>{{a[1]}}</td>
            <td>
                {% for b in a[2] %}
                <p> {{b}} </p></br>
                {% endfor %}
            </td>
        <tr>
        {% endfor %}
        </table>
</div>
</body>
</html>